.cnam-container {
    border-top: none;
    border-bottom: 2px solid #F3F1EF;
    margin: 15 auto;
}

ul {
    list-style: none;
}

li {
    display: inline;
    font-size: 1rem;
    color: #3f3f3f;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}