.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9%;
  padding: 1%;
  background-color: #c1002a;
}

.logo {
    height: 20px;
    margin-right: 2rem;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial;
    padding: 1%;
    margin-right: 1rem;
    cursor: pointer;
}

.user-icon {
    height: 30px;
}